.b1 {
  align-self: center;
  height: 500px;
  width: 500px;
  background-color: green;
  margin-left: 30%;
  margin-top: 10%;
}

.b1 .b2 {
  height: 40%;
  width: 40%;
  background-color: grey;
  /* margin: auto; */
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
}

.b1 .b2 .b3 {
  height: 60%;
  width: 60%;
  background-color: firebrick;
  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
}

.b1 .b2 .b3 .b4 {
  height: 60%;
  width: 60%;
  background-color: goldenrod;
  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
}
