.grid-container {
   display: grid;  
  grid-template-columns: auto auto auto; 
  background-color: #114B5F;
  /* text-align: center; */
  flex-direction: row; 
  /* padding-top: 1%; */
  width: 700px;
  height: 400px;
  background: #7e5013;
  margin: 10px auto;

}
.grid-item {

  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center; 
  width: 200px;
  height: 40px;
  background: #29ac1b;
  margin: 5px auto;
  font-family: "Lucida Sans";
  display: flex;
  flex-wrap: wrap;
 
}
h1 {
  color: black;
  font-family: 'Sofia';
  text-align: center;
  
}
